@import './variables.scss';

.footer {
    display: flex;
    color: $menu-text-color;
    border-width: 1px 0 0 ;
    border-style: solid;
    border-color: $menu-text-color;
}
.footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding: 10px;
    border: 1px solid $menu-text-color;
    border-radius: 5px;
    margin: 5px;
}
.footer div img{
    width: 20px;
    padding-bottom: 5px;
    color: $menu-text-color;
}

.footer div p {
    font-size: $font-size*0.8;
    padding: 3px;
}

.footer div h2{
    font-family: $font-family-bold;
}